body {
    background-image: url(https://i.ytimg.com/vi/K9YVpXiXvag/maxresdefault.jpg);
}

h3 {
    margin: 0 auto;
    width: 400px;
}

div {
    margin: 0 auto;
    width: 400px;
}

/* Estilo para el formulario */
form {
  width: 500px; /* Ancho del formulario */
  margin: 0 auto; /* Centrar el formulario en la página */
  padding: 30px; /* Espacio interno alrededor del formulario */
  border: 2px solid #ccc; /* Borde alrededor del formulario */
}

/* Estilo para las etiquetas */
label {
  display: block; /* Mostrar cada etiqueta en una nueva línea */
  margin-bottom: 10px; /* Espacio entre etiquetas */
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="titulo"],
input[type="number"]

 {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 95%;
}

/* Estilo para el botón de envío */
input[type="submit"] {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espacio interno en el botón */
  border: none; /* Sin borde en el botón */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
  margin: 0 auto; /* Centrar el botón en el formulario */
  display: block; /* Mostrar el botón en una nueva línea */
}


.album {
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  font-size: 18px; /* Tamaño de fuente */

  
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
